html {
    direction: rtl;
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Sans Arabic';
    background-color: #fff;
}

:root {
    --secondry-bg-w: rgb(255, 255, 255);
    --bg-w: #FFF;
    --border-1-b: 1px solid rgba(0, 0, 0, 0.1);
    --boredr-rad: 25px;
    --boredr-rad-50: 50%;
    --papy-blue-c: #2b52f3;
    --box-shadow: .5px .5px 2px rgba(183, 179, 179, 0.373);
    --color-gray: gray;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    vertical-align: middle;
}

.ds-f {
    display: flex;
    flex-wrap: wrap;
}

.f-dir-c {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.ds-g {
    display: grid;
}

.justify-c-c {
    justify-content: center;
}

.justify-c-sb {
    justify-content: space-between;
}

.justify-c-start {
    justify-content: flex-start;
}

.justify-c-end {
    justify-content: flex-end;
}

.justify-c-ev {
    justify-content: space-evenly;
}

.align-items-c {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.align-content-c {
    align-content: center;
}

.align-content-start {
    align-content: start;
}

.align-content-end {
    align-content: end;
}

.img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    --boredr-rad: 15px;
    border-radius: var(--boredr-rad);
}

.img img {
    width: 100%;
    border-radius: inherit;
}

.gx-10 {
    column-gap: 1.25rem;
}

.gy-10 {
    row-gap: 1.25rem;
}

.g-10 {
    gap: 1.25rem;
}

.gx-5 {
    column-gap: .3125rem;
}

.gy-5 {
    row-gap: .3125rem;
}

.g-5 {
    gap: .3125rem;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-g {
    color: var(--color-gray);
}

th ul {

    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.rounded {
    border-radius: var(--boredr-rad);
    padding: 1.5rem;
}

.rounded-min {
    --boredr-rad: 1rem;
    border-radius: var(--boredr-rad);
}

/* ________________________________________main_________________________________________________ */
.dashborad {
    height: 100vh;
    grid-template-columns: 15.625rem 1fr;
    grid-template-areas:
        "sidebar main";
}

.logo-img {
    background-color: var(--papy-blue-c);
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 5px rgb(8, 8, 244)
}

.logo-img i {
    color: white;
}

.sidebar {
    grid-area: sidebar;
    width: 270px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    padding: 2rem 1.5rem;
    background-color: var(--bg-w);
}

.sidebar .side-content .head,
.sidebar .side-content .main-page {
    margin-bottom: 1.5rem;
}

.sidebar .side-content .main-page .nav-head {
    color: #2b52f3;
    padding: .75rem .75rem;
    background-color: #eff6ff;
}

.sidebar .side-content .main-page ul li {
    color: var(--color-gray);
    padding: .75rem 1rem;
}

.sidebar .side-content .main-page ul li i {
    color: var(--color-gray);
}

.sidebar .side-content .main-page ul li:hover,
.sidebar .side-content .services button:hover {
    background-color: rgba(211, 211, 211, 0.145);
}

.sidebar .side-content .queick h4 {
    margin-block: 1.75rem;

}

.sidebar .side-content .services button {
    padding: .75rem 1rem;
    background-color: transparent;
    border: none;
    align-items: center;
    transition: transform .3s;
}

.sidebar .side-content .services button:hover {
    transform: translate(0.1875rem, -0.1875rem);
}

.sidebar .side-content .services button p {
    font-size: 20px;
    font-weight: 600;
}

.sidebar .side-content .services .img {
    --boredr-rad: 10px;
    width: 40px;
    height: 40px;
    color: #2b52f3;
    border-radius: var(--boredr-rad);
    background-color: #eaf3ff;
}

.sidebar .side-content .services button:nth-child(2) .img {
    color: #33d976;
    background-color: #e6faee;
}

.sidebar .side-content .services button:nth-child(3) .img {
    color: #9622f6;
    background-color: #f7edff;
}

.sidebar .side-content .services button:nth-child(4) .img {
    color: #ef8640;
    background-color: #fff0e6;
}

.main {
    grid-area: main;
}

.main .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
        "header header header"
        "income expense current-balance"
        "accounts-card last-deals last-deals"
        "monthly-bills last-deals last-deals"
        "divided-balance income-vs-expense  pay-methods"
        "divided-balance summeryofacc  pay-methods"
    ;
    padding: 2rem;
    align-content: start;
    gap: 1.25rem;
    width: 98%;
    margin: auto;
}

.main .header {
    box-shadow: var(--box-shadow);
    grid-area: header;
    border-radius: var(--boredr-rad);
    border: var(--border-1-b);
    display: grid;
    grid-template-columns: auto auto;
    height: fit-content;
    padding: 32px;
    background-color: var(--secondry-bg-w);
}

.main .header .logo-state {
    gap: 10%;
}

.main .header .state {
    color: #05ac48;
    --boredr-rad: 10px;
    border-radius: var(--boredr-rad);
    padding: .35rem .7rem;
    background-color: #f0fdf4;
}

.main .header .state .dot {
    font-size: 14px;
    animation: active 2s infinite;
}

@keyframes active {
    0% {
        color: #33d976;
    }

    25% {
        color: #33d975b1;
    }

    50% {
        color: #33d97562;
    }

    75% {
        color: #33d975dd;
    }

    100% {
        color: #33d976;
    }
}

.main .header .tools-profile {
    border-radius: var(--boredr-rad);
    justify-content: end;
    gap: 5px;
}

.main .header .tools {
    justify-content: space-between;
    gap: .3125rem;
}

.main .header .tools .img {
    width: 40px;
    height: 40px;
    --boredr-rad: 10px;
    border: .5px solid rgb(234, 232, 232);
    border-radius: var(--boredr-rad);
    background-color: var(--secondry-bg-w);
    transition: background-color .3s;
}
.main .header .tools .img:hover{
    background-color: #e8e8e895;
}
.main .header .tools .img:nth-child(2){
    position: relative;
}
.main .header .tools .img:nth-child(2)::after{
    content: "2";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    top: -4px;
    right: 0px;
    color: white;
    padding: 2px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;

}
.main .header .tools-profile .profile {
    transition: box-shadow .3s;
    padding: .25rem 1rem;
    border: .5px solid rgb(234, 232, 232);
    --boredr-rad: 15px;
    border-radius: var(--boredr-rad);
    background-color: var(--secondry-bg-w);
    box-shadow: .5px .5px 2px rgb(236, 234, 234);
    justify-content: space-between;
}
.main .header .tools-profile .profile:hover{
    box-shadow: 1px 2px 3px rgba(132, 132, 132, 0.254);
}
.main .header .tools-profile .profile p {
    color: var(--color-gray);
    font-size: .875rem;
}

.main .header .tools-profile .profile .img {
    justify-content: start;
    margin-right: 5px;
}

.main .header .tools-profile .profile .img img {
    width: 90%;
}

.main .card h4 {
    color: var(--color-gray);
}

.main .card p:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 700;
}

.main .card p:nth-child(3) {
    font-size: 1rem;
    color: #05ac48;
    font-weight: 700;
}

.main .card:nth-child(3) p:nth-child(3) {
    color: red;
}

.main .current-balance {

    grid-area: current-balance;
}

.main .card {
    box-shadow: var(--box-shadow);
    border-radius: var(--boredr-rad);
    background-color: var(--secondry-bg-w);
    padding: 1.25rem;
    border: var(--border-1-b);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.main .income {
    grid-area: income;

}

.main .expense {
    grid-area: expense;
}



.main .accounts {
    padding-block: 1.25rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.303);
}

.main .accounts .account {
    border: none;
    position: relative;
    /* overflow: hidden; */
    padding-left: 5px;
    background-color: #2b52f3;
}

.main .accounts .account .inner {
    --boredr-rad: .9rem;
    border-radius: var(--boredr-rad);
    height: 100%;
    padding: .625rem 1rem;
}

.main .accounts .account:nth-child(1) .inner {
    background-color: #eff6ff;
}

.main .accounts .account:nth-child(1) .inner .caption .details p span:nth-child(2),
.main .accounts .account:nth-child(1) .inner .img {
    color: #2b52f3;
}

.main .accounts .account:nth-child(2) .inner .caption .details p span:nth-child(2),
.main .accounts .account:nth-child(2) .inner .img {
    color: #05ac48;
}

.main .accounts .account .inner .img {
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: var(--boredr-rad-50);
    background-color: #dbeafe;
}

.main .accounts .account:nth-child(2) .inner .img {
    background-color: #dbfce7;
}

.main .accounts .account:nth-child(2) {
    background-color: #3ba95c;
}

.main .accounts .account:nth-child(2) .inner {
    background-color: #f0fdf4;
}

.main .accounts .account .inner .caption p:nth-child(1) {
    font-size: .875rem;
    font-weight: 700;
}

.main .accounts .account .inner .caption p:nth-child(2),
.main .accounts .account .inner .caption p:nth-child(3) {
    font-size: .85rem;
    color: var(--color-gray);
}

.main .accounts-card .show-all p {
    padding: 12px;
    font-size: 20px;
    color: #2b52f3;
    font-weight: 500;
}

.main .accounts-card .show-all p:hover {
    color: #2040c1;
}

.accounts-card,
.accounts-card~div {
    box-shadow: var(--box-shadow);
    border: var(--border-1-b);
}

.accounts-card {
    background-color: var(--secondry-bg-w);
    grid-area: accounts-card;
}

.last-deals {
    background-color: var(--secondry-bg-w);
    grid-area: last-deals;
}

.last-deals {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.last-deals table tr td .img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.last-deals table {
    min-width: 600px;
    border-collapse: collapse;
}

.last-deals table th {
    text-align: start;
    padding-block: .625rem;
    border-bottom: .0155rem solid rgba(180, 180, 180, 0.2);
}

.last-deals table tr td {
    border-bottom: .0155rem solid rgba(180, 180, 180, 0.2);
    font-size: .9375rem;
    text-align: start;
    padding-inline: .625rem;
    padding-block: 1.25rem;
}

.last-deals table tr td:nth-child(1) .in-td p {
    color: gray;
    font-size: .8375rem;
}

.last-deals table tr td:nth-child(1) .in-td img {
    border-radius: 50%;
}

.last-deals table tr td:nth-child(3) p {
    color: gray;
}

.last-deals table tr td:nth-child(2) .in-td,
.last-deals table tr td:nth-child(4) p {
    font-size: .6rem;
    width: fit-content;
    padding: .2rem .6rem;
    --boredr-rad: 10px;
    border-radius: var(--boredr-rad);
}

.last-deals table tr td:nth-child(5) {
    font-weight: 600;
}

.last-deals table tr:nth-child(1) td:nth-child(2) .in-td,
.last-deals table tr:nth-child(5) td:nth-child(2) .in-td,
.last-deals table tr td:nth-child(4) p {
    background-color: #b4e8c970;
}

.last-deals table tr:nth-child(6) td:nth-child(4) p {
    background-color: rgb(242, 228, 172);
    color: rgb(201, 136, 16);
}

.last-deals table tr:nth-child(1) td:nth-child(5) p,
.last-deals table tr:nth-child(5) td:nth-child(5) p {
    color: #007b31;
}

.last-deals table tr:nth-child(2) td:nth-child(1) .img,
.last-deals table tr:nth-child(2) td:nth-child(2) .in-td {
    background-color: #ffedd4;
    color: #7a3609;
}

.last-deals table tr:nth-child(3) td:nth-child(1) .img,
.last-deals table tr:nth-child(3) td:nth-child(2) .in-td,
.last-deals table tr:nth-child(7) td:nth-child(1) .img,
.last-deals table tr:nth-child(7) td:nth-child(2) .in-td {
    background-color: #dbeafe;
    color: #0c69e4;
}

.last-deals table tr:nth-child(4) td:nth-child(2) .in-td {
    background-color: #f3e8ff;
    color: #6410bd;
}

.last-deals table tr:nth-child(6) td:nth-child(1) .img,
.last-deals table tr:nth-child(6) td:nth-child(2) .in-td {
    background-color: #ffe2e2;
    color: #e30909;
}

.last-deals table tr:nth-child(8) td:nth-child(1) .img,
.last-deals table tr:nth-child(8) td:nth-child(2) .in-td {
    background-color: #cffbff;
    color: #12939f;
}

.last-deals table tr:nth-child(9) td:nth-child(1) .img,
.last-deals table tr:nth-child(9) td:nth-child(2) .in-td {
    background-color: #b4e8c970;
    color: #007b31;
}



.monthly-bills {
    background-color: var(--secondry-bg-w);
    grid-area: monthly-bills;
}

.monthly-bills .price p:nth-child(1) {
    font-size: 1.875rem;
    font-weight: 700;
}

.monthly-bills .price p:nth-child(2) {
    color: gray;
    font-weight: 700;
}

.monthly-bills .bills {
    /* padding: 20px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .9rem;
}

.monthly-bills .bills .bill {
    background-color: #f9fafb;
    padding: .625rem;
    --border-1-b: .05rem border: var(--border-1-b);
    box-shadow: var(--box-shadow);
    --boredr-rad: .625rem;
    border-radius: var(--boredr-rad);
}

.monthly-bills .bills .bill p:nth-child(2) {
    color: gray;
}

.monthly-bills .bills .bill p:nth-child(3) {
    font-size: 1.125rem;
    font-weight: 700;
}

.monthly-bills .bills .bill p:nth-child(4) {
    color: red;
}

.monthly-bills .bills .bill:nth-child(3) p:nth-child(4) {
    color: #05ac48;
}

.monthly-bills .bill span {

    font-size: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.monthly-bills .bill p:nth-child(2) {
    font-size: .9rem;
    margin-top: .3125rem;
}

.monthly-bills .bill:nth-child(1) span {
    background-color: #dbeafe;
    color: #0d54b1;
}

.monthly-bills .bill:nth-child(2) span {
    background-color: #fef9c2;
    color: #a1940a;
}

.monthly-bills .bill:nth-child(3) span {
    background-color: #dbfce7;
    color: rgb(14, 165, 69);
}

.monthly-bills .bill:nth-child(4) span {
    background-color: #ffe2e2;
    color: rgb(186, 14, 14)
}

.monthly-bills .bill:nth-child(4) p:nth-child(4) {
    color: gray;
}





.all {
    margin-top: .3125rem;
    height: 8px;
    background-color: rgb(227, 226, 226);
    overflow: hidden;
    border-radius: .625rem;
}

.divided-balance {
    background-color: var(--secondry-bg-w);
    grid-area: divided-balance;
}

.divided-balance .total {
    border: .01px solid rgba(128, 128, 128, 0.212);
    border-radius: 1rem;
    background-color: #eef4ff;
}

.divided-balance .total .one p:nth-child(1) {
    font-weight: 600;
    color: #0c69e4;
}

.divided-balance .total .one p:nth-child(2) {
    font-weight: 700;
    color: #032a5d;
    font-size: 1.5rem;
}

.divided-balance .total .two p:nth-child(1) {
    color: gray;
    text-align: right;
}

.divided-balance .total .two p:nth-child(2) {
    color: gray;
    font-size: 18px;
    font-weight: 600;
    color: #05ac48;
}

.divided-balance .total .used {
    font-size: 12px;
    color: gray;
}

.divided-balance .part {
    border: .01px solid rgba(128, 128, 128, 0.212);
    padding: 1.5rem 1.5rem;
    transition: transform .5s;
    font-weight: 600;
}

.divided-balance .part .head .img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}


.divided-balance .part .head .desc p:nth-child(1) {
    font-size: 1rem;
}

.divided-balance .part .head .desc p:nth-child(2) {
    font-size: .7rem;
    color: gray;
}

.divided-balance .part .saved p:nth-child(1) {
    font-size: 1rem;
}

.divided-balance .part .saved p:nth-child(2) {
    font-size: .7rem;
    background-color: #dcfce7;
    color: #007b31;
    padding: .1875rem .3125rem;
    border-radius: 20px;
}

.all .used-82 {
    height: 8px;
    border-radius: .625rem;
    width: 82.5%;
}

.divided-balance .part .saved p:nth-child(2) {
    font-size: .7rem;
    font-weight: 600;
}

.divided-balance .total .all .used-82 {
    background-color: #2b52f3;
}

.divided-balance .part:nth-child(3) .all .used-82,
.divided-balance .part:nth-child(3) .all .used-82 {
    background-color: #ff6900;
    width: 50%;
    animation: animation-1 2s ease-in;
}
@keyframes animation-1 {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
    
}
.divided-balance .part:nth-child(3) .img {
    background-color: #f9e7cf;
    color: #ff6900;
}

.divided-balance .part:nth-child(4) .all .used-82 {
    background-color: #f32b2b;
    width: 100%;
    animation: animation-2 2s ease-in;
}
@keyframes animation-2 {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
    
}
.divided-balance .part:nth-child(4) .img,
.divided-balance .part:nth-child(4) .saved p:nth-child(2) {
    background-color: #fee2e2;
    color: #f32b2b;
}

.divided-balance .part:nth-child(5) .img {
    background-color: #fce7f3;
    color: #f6339a;
}

.divided-balance .part:nth-child(5) .all .used-82 {
    width: 80%;
    background-color: #f6339a;
    animation: animation-3 2s ease-in;
}
@keyframes animation-3  {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}
.divided-balance .part:nth-child(5) .saved p:nth-child(2) {
    background-color: #fef3c7;
    color: #92400e;
}

.divided-balance .part:nth-child(6) .all .used-82 {
    width: 86%;
    background-color: #04c04f;
    animation: animation-4 2s ease-in;
}
@keyframes animation-4 {
    0%{
        width: 0%;
    }
    100%{
        width: 86%;
    }
    
}
.divided-balance .part:nth-child(6) .img {
    background-color: #b4e8c970;
    color: #04c04f;
}

.divided-balance .part:hover {
    transform: translateY(-1px);
    box-shadow: .5px 1px 4px rgba(128, 128, 128, 0.403);
}


.income-vs-expense {
    grid-area: income-vs-expense;
}

.income-vs-expense .income-expense {
    font-weight: 600;
    justify-self: start;
}

.income-vs-expense .income-expense .square {
    width: 14.4px;
    height: 14.4px;
    border-radius: 20%;
}

.income-vs-expense .income-expense .income .square {
    background-color: #10b981;
}

.income-vs-expense .income-expense .expense .square {
    background-color: #ef4444;
}

.income-vs-expense .analysis .all-charts .gruop .bars {
    height: 130px;
}

.income-vs-expense .analysis .all-charts .gruop .bars .bar {
    width: 25px;
    border-top-left-radius: .3125rem;
    border-top-right-radius: .3125rem;
}

.income-vs-expense .analysis .all-charts .gruop .bars .bar-1 {
    width: 25px;
    height: 130px;
    border-top-left-radius: .3125rem;
    border-top-right-radius: .3125rem;
}

.income-vs-expense .analysis .all-charts .gruop .bar-1 {
    background-color: #10b981;
}

.income-vs-expense .analysis .all-charts .gruop .bars .bar-2 {
    align-self: flex-end;
    background-color: #ef4444;
    height: 70%;
}

.income-vs-expense .analysis .all-charts .gruop:nth-child(2) .bars .bar-2 {
    height: 30%;
}

.income-vs-expense .analysis .all-charts .gruop:nth-child(3) .bars .bar-2 {
    height: 40%;
}

.income-vs-expense .analysis .all-charts .gruop:nth-child(4) .bars .bar-2 {
    height: 45%;
}

.income-vs-expense .analysis .all-charts .gruop .week {
    font-weight: 600;
    color: gray;
}

.summeryofacc {
    grid-area: summeryofacc;
}

.summeryofacc .bank-info {
    border-radius: .9375rem;
    border: .001px solid rgba(213, 213, 213, 0.212);
    padding: 1.25rem 1.5rem;
    font-weight: 600;
    background-color: #f9fafb;
}

.summeryofacc .bank-info .img-desc .img {
    border-radius: .625rem;
    font-size: 1.275rem;
    background-color: #dbeafe;
    color: #155dfc;
}

.summeryofacc .bank-info:nth-child(3) .img-desc .img {
    background-color: #dbfce7;
    color: #00a63e;
}

.summeryofacc .bank-info:nth-child(4) .img-desc .img {
    background-color: #f3e8ff;
    color: #9810fa;
}

.summeryofacc .bank-info .img-desc .dsec p {
    font-size: .85rem;
    font-weight: 500;
    color: gray;
}

.summeryofacc .bank-info .balance {
    font-weight: 600;
    font-size: 1rem;
}

.summeryofacc .bank-info:nth-child(4) .balance {
    color: red;
}





.pay-methods{
    grid-area: pay-methods;
}
.pay-methods .flip-card .inner{
    font-weight: 700;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}
.flip-card:nth-child(2) .front-card{
    background-color: #c70036;
}
.pay-methods .flip-card:hover .inner{
    transform:  rotateY(180deg);
}
.front-card {
    z-index: 1;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    row-gap: .9375rem;
    color: white;
    justify-content: space-between;
    padding: 1.875rem 1.25rem;
    grid-template-areas:
        "shape . img"
        "pass pass pass"
        "name . date"
    ;
    background-color: #372aac;
}
.front-card-1::after{
    border-radius: 11px;
    font-size: 12px;
    content: " اساسية";
    width: fit-content;
    padding: 5px;
    background-color: #3949cc26;
    box-shadow: inset -1px 0px 20px;
    position: absolute;
    top: 1rem;
    left: 1.25rem;
}

.front-card .shape {
    border-radius: .5rem;
    grid-area: shape;
    width: 50px;
    height: 30px;
    background-color: #5f55bd61;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-card .img {

    grid-area: img;
}

.front-card .name {
    grid-area: name;
}

.front-card .date {
    grid-area: date;
}

.front-card .pass {
    font-size: 1.25rem;
    font-weight: 800;
    grid-area: pass;
    letter-spacing: 2px;
}

.front-card .shape .inner {
    width: 25px;
    height: 15px;
    background-color: #9f99d792;
    border-radius: .5rem;
}


.back-card {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    color: white;
    background-image: linear-gradient(to right, #0b1321, #08142a);
    padding: 1.875rem 1.25rem;
    transform: rotateY(180deg);
    
}
.back-card .grad {
    height: 2.5rem;
    background-image: linear-gradient(to right, #000000, #2b2b2b);
    border-radius: .625rem;
}

.back-card .text-g{
    font-size: .625rem;
}
.back-card .white{
    background-color: white;
    padding: 5px;
    background-image: linear-gradient(91deg, #fffbfb, #2a2b41a8);
    text-align: end;
    border-radius: 3px;
}
.back-card .white p{
    background-image: linear-gradient(45deg, #9b9292, #b3b3b3);
    color: black;
    font-size: 10px;
    
}
.back-card .whte-2{
    align-items: end;
}
.back-card .whte-2 p:nth-child(1){
    font-size: .75rem;
    margin-left: 1.25rem;
}
.back-card .whte-2 p:nth-child(2){
    font-size: .875rem;
    background-color: white;
    padding: .625rem;
    color: black;
    border-radius: 8px;
}

